code{
    border-radius: 5px;
}

section{
    padding-left:280px !important;
}

aside {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

aside a:not(.brand){
    text-decoration: none;
    margin-left:25px;
    text-align: left;
    color:white;
}

a.brand{
    color:white;
}

aside a.brand:hover{
    text-decoration: none;
}

aside a:hover{
    color:white;
}